@import "main.less";

.row{
	width: 100%;
	margin:20px 0;
	.span3{
		width: 230px;
		margin:0px;
	}
	.span9{
		width: 730px;
	}
}
.left-tip{
	background: #ffffff url(../img/sidebar-tipleft.gif) 0px 0px no-repeat;
	width: 230px;
	height: 118px;
	margin-top:10px;
	h3{
		padding:10px 0 15px 10px;
	}
	a{
		font-size: 28px;
		padding:0 0 0 25px; 
	}
}
.sidebar-nav{
	.hd{
		width: 230px;
		overflow:hidden;
		background: transparent url(../img/qs-navtop.gif) 0px 0px no-repeat;
		h3{
			
			height: 32px;
			line-height: 32px;
			margin-left:40px;
			
		}
	
	}
	.bd{
		background: transparent url(../img/qs-navfooter.gif) 0px 0px no-repeat;
		display:block;
		width: 230px;
		height: 370px;
		padding:3px 0 5px 0;
		ul{
			background:url(../img/common_navleft_bg.gif) no-repeat left bottom;
			height:44px;
			position:relative;
			z-index:1000;
			padding:0 15px;
			h3{
				background: url(../img/common_leftsanjiao.gif) right top no-repeat;
				display: block;
				height:44px;
				padding-left:3px;
				cursor:pointer;
				span{
					padding-left:40px;
					height: 44px;
					display:block;
					font-size: 14px;
					font-weight: bold;
					line-height: 44px;
					width: 157px;
				}
			}
		}
	}
}
.content-right{
	.position-nav{
		p{
			height: 34px;
			line-height: 34px;
			margin: 0 20px;
		}	
	}
	.ad-img{
		width: 730px;
		img{
			width: 730px;
			height: 160px;
		}
	}
	.accont{
		width: 728px;
		border:1px solid #cfcfcf;
		.accont-hd{
			height: 37px;
			width: 728px;
			//margin: 0 1px;
			background: url(../img/bg_rigtitle.jpg) repeat-x;
			.accont-comtag{
				width: 200px;
				height: 30px;
				line-height: 30px;
				background:url(../img/bg_modeltitle.gif) no-repeat;
				margin:0 auto;
				text-align: center;
				h3{
					color: @white;
					font-weight: bold;
				}
			}
		}
		.accont-bd{
			width: 728px;
			background: #fff;
			padding-top:30px;
			.control-group,.btn{
				margin-left:100px;
			}
		}
	}
}	