@import "main.less";

.content{
	width:100%;
	.clearfix();
}
.row{
	margin:20px 0;
	.ad-img{
		float: left;
		width: 400px;
		a{
			img{
				width: 400px;
				height: 280px;
				border:0;
			}
		}
	}
}
#tabbox{
	float: left;
	width: 300px;
	margin:0 10px;
	border-bottom:3px solid @orange;
	.hd{
		height: 36px;
		line-height: 36px;
		width: 298px;
		border-right:1px solid #ddd;
		border-left:1px solid #ddd;
		li{
			width:99px;
			margin:0 0 -1px 0; 
			text-align: center;
			font-size:14px; 
			font-weight:bold;
			a{
				font-size: 14px;
			}
		}
		li.first{
			a{
				border-left-width:0;	
			}		
		}
	}
	.bd{
		height: 215px;
		padding:13px 8px;
		overflow:hidden;
		background: #fff;
		border-width:1px;
		border-color:transparent #ddd transparent #ddd;
		border-style:solid;
		display: block;
	}
	.tab-content{
		li{
			height: 21px;
			line-height: 18px;
			overflow:hidden;
			
			a{
				float: left;
				width: 218px;	
				overflow:hidden;
				height: 18px;
				color:	@gray;
				&:hover{
					color: #0f92a1;
				}
			}
			em{
				float: right;
				color: @grayDark;
			}
		}
	}	
}
#rank{
	float: left;
	width: 252px;
	border-bottom:3px solid @blueDark;
	.hd{
		background: #eee url() 0px 0px no-repeat;
		width: 250px;
		height: 36px;
		line-height: 36px;
		border-bottom:1px @green solid; 
		border-width:1px;
		border-style:solid;
		border-color:#ddd #ddd @green #ddd;
		i{
			float: left;
			margin:5px 10px 0;
		}
		h3{
			float: left;
			margin-left:25px;
			line-height: 36px;
		}
		span{
			float: right;
			.clearfix ();
			margin-right:10px;
			em{
				margin-top:5px;
			}
		}
		
	}
}
.rank-list{	
	height: 213px;
	padding:13px 8px;
	overflow:hidden;
	border-bottom:1px @green solid; 
	border-width:1px;
	border-style:solid;
	border-color:transparent #ddd;
	li{
		float: left;
		height:22px;
		line-height: 22px;
		width: 220px;
		line-height: 20px;
		border-bottom:1px dotted @grayLight;
		overflow: hidden;
		em{
			padding-right:5px;
		}
		span{
			float: right;
		}
		a{
			color: @gray;
			&:hover{
					color: #0f92a1;
			}
		}
	}
}
.box{
//	border:1px solid #CECECE;
	background:#f4f4f4;
}
.row-list{
	width: 100%;
}
.table-form{
	float: left;
	width: 240px;
	margin-right:5px;
	.hd{
		background: transparent url(../img/common_navtop.gif) 0px 0px no-repeat;
		height: 32px;
		width: 240px;
		line-height: 32px;
		i,h3{
			float: left;
		}
		.more{
			float: right;
			margin-right:10px;
		}
	}
	.table{
		width: 240px;
		margin-right:5px;
		border-color:#ddd;
		border-style:solid;
		border-width:0 1px 1px 1px;
	}
	.table .filter{
		background: #ffffff url(../img/filter_bg.gif) 0px 0px repeat-x;
		height: 32px;
		th{
			height: 32px;
			line-height: 32px;
			text-align: left;
			font-weight: normal;
			span{
				font-weight: bold;
				margin:0 3px;
			}
			a{
				color:@blue;
				margin:0 5px;
				text-decoration: none;				
				&:hover{
					color:@blueDark;
				}
			}
			em{
				color:#ccc;
			}
		}
	}
	.table th, .table td{
		text-align: center;
		padding:0;
		height: 36px;
		line-height: 36px;
	}	
}